:root {
    --primary_color: #ffA101;
    --secondary_color: #FAe6b1;
    --background_color: #b3dee5;
    --text_color: #000000;
    --accent_color: #31525b;

    --title: "Bubblegum Sans", Serif;
    --semititle: "Acme", serif;
    --accent: "Bangers", serif;
}



h1, h2 {
    font-family: var(--accent);
    font-size: xxx-large;
    text-align: center;
}

h3 {
    font-family: var(--semititle);
}

li {
    font-family: var(--title);
}

.logo {
    font-family: var(--title);
}

body {
    margin: 0;
    background-color: var(--secondary_color);
}

header {
    background-color: var(--primary_color);
    color: white;
    padding: 1rem;
    position: relative;
    z-index: 1000;
}

.menu-logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: white;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "X";
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}



.nav-links {

    list-style: none;
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary_color);
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    display: none;
}

.nav-links.show {
    display: flex;
}

.nav-links li {
    margin: 0;
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.nav-links a:hover {
    background-color: #555;
}



.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}



.search-container button {
    background: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}




.search-container i {
    color: #333;
}

@media (min-width: 980px) {
    .nav-links {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .nav-links li {
        display: block;
    }




    .nav-links.show {
        display: flex;
    }
    
    .featured {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .comic-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: 1200px;
        margin: 0 auto;
    }




}

.featured {
    padding: 2rem;
    background-color: var(--background_color);
}

.slider {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
}

.slide {


    flex: 0 0 auto;
    scroll-snap-align: start;
    background-color: var(--primary_color);
    border-radius: 10px;
    padding: 1rem;
    min-width: 300px;
    text-align: center;
    position: relative;
}

.slide img{

    width: auto;
    height: 300px;
    border-radius: 10px;

}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.comics {
    padding: 2rem;
}


.comic-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comic-info h3 {
    margin: 0;
    color: white;
    font-size: 1rem;
}

.read-button {
    background-color: var(--primary_color);
    color: white;
    border: none

}

.comic-grid {



    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.comic-grid a, .read-button a{
    text-decoration: none;
    color: white;
}

.comic-card {

    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.comic-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.comic-card h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--text_color);


}

.comic-card p {
    margin-top: 0.5rem;
    color: var(--text_color);
}

footer {
    background-color: var(--primary_color);
    text-align: center;
    padding: 1rem;
    

}