:root{

    --title-font: "Lato", sans-serif;
    --paragraph-font: "Outfit", sans-serif;
    --special-font: "Dancing Script", sans-serif;

    --title-color: #ED9455;
    --secondary-title-color: #FFBB70;
    --boxes-color: #FFEC9E;
    --light-boxes-color: #FFFBDA;
}








*{
    max-width: 1280px;
    margin: auto;
    box-sizing:border-box;
    
}







body p{
    font-family: var(--paragraph-font);
    
}









header{
    background-color: var(--title-color);
    text-align: center;
    font-family: var(--title-font);
    margin-bottom: 5px;
}
header em{
    color: var(--light-boxes-color);
}











nav{
    background-color: var(--secondary-title-color);
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
    font-family: var(--title-font);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:overline;
    color: var(--title-color);
}








main{
    max-width: 1065px;
    margin: auto;
    height:600px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 5px;
    overflow:auto;
}










.card{
    border: solid var(--title-color) 1px;
    border-radius: 15px;
    margin: 5px;
    background-color: var(--light-boxes-color);
    text-align: center;
}
.card h2{
    font-family: var(--title-font);
    padding: 10px;
    background-color: var(--title-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
}
.card h3{
    border-bottom: solid #ED9455 2px;
    font-family: var(--title-font);
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
}











.container{
    padding: 5px;
}
.container p{
    text-align: justify;
    padding: 10px;
}
.container img{
    border-radius: 10px;
    margin: 10px;
}
#box1{
    display: flex;
}
#box2{
    display: flex;
}





#box3{
    align-content: center;
    height: 520px;
    align-content: center;
}
ul{
    align-content: center;
    width:fit-content;
    height: 100%;
}







footer{
    margin-top: 5px;
    background-color: var(--title-color);
    font-family: var(--paragraph-font);
    text-align: center;
}


/*


body
    p > --paragraph-font


----header




----main

----footer




*/